@import 'colors';

.vs-input {
  width: 100%;
}

.dark-mode {
  .separator {
    color: $gray-700;
  }

  .separator::before,
  .separator::after {
    border-bottom: 1px solid $gray-700;
  }
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: $gray-500;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid $gray-400;
}

.separator::before {
  margin-right: 1em;
}

.separator::after {
  margin-left: 1em;
}

.vs-sidebar-content {
  .vs-sidebar {
    justify-content: center;
  }

  .vs-sidebar__logo {
    padding: 0
  }
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  z-index: 1000;
  float: left;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  border-radius: 4px;
  background-clip: padding-box;

  &-right {
    right: 0;
  }

  &-left {
    left: 0;
  }

  &>li {
    overflow: hidden;
    width: 100%;
    position: relative;
    margin: 0;

    &:first-child {
      border-bottom: 1px solid rgba(99, 99, 99, 0.25);
    }

    &:hover {
      background-color: rgba(149, 140, 180, 0.1);
    }

    &>a {
      padding: 10px 20px;
      display: flex;
      align-items: center;
      clear: both;
      font-weight: normal;
      white-space: nowrap;
      text-decoration: none;
    }
  }

}

.hover-bg:hover {
  background-color: rgba(160, 149, 190, 0.055);
}

.disable-scrollbars {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;

  /* IE 10+ */
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* Chrome/Safari/Webkit */
  }
}
