@import 'colors';

.vs-input {
  width: 100%;
}

.dark-mode {
  .separator {
    color: $gray-700;
  }

  .separator::before,
  .separator::after {
    border-bottom: 1px solid $gray-700;
  }
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: $gray-500;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid $gray-400;
}

.separator::before {
  margin-right: 1em;
}

.separator::after {
  margin-left: 1em;
}

.vs-sidebar-content {
  .vs-sidebar {
    justify-content: center;
  }

  .vs-sidebar__logo {
    padding: 0
  }
}
